<nav class="navbar  sticky-top navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Chores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}" ><li>Home</li></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reciepes.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="images/avatar-efe4e93be53b8f8b8714c501cb17f8de.jpg"
                            alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</nav>