<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Profile - Student</title>
        {% load static %}
        <link rel="stylesheet" href="css/style.css">
    </head>

  <body>



      {% block content %}
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FCEFCD;">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'profile' %}">
                <img 
                    src= "{% static 'images\ElderLogo.PNG' %}"
                    class="rounded float-start" 
                    alt="logo" 
                    width="70" 
                    height="70"
                />
            </a>
        </div>
    </nav>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h1>Register</h1>
                            <form  method="post", enctype="multipart/form-data", action="{% url 'register'%}" >
                                {% csrf_token %}
                                    
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline datepicker w-100", style="margin-top: 30px;">
                                                First Name:
                                                <br>
                                                {{ form.first_name }}
                                        </div>
                                    </div>
                                </div>      
                            
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline datepicker w-100", style="margin-top: 30px;">
                                                    Last Name:
                                                    <br>
                                                    {{ form.last_name }}
                                            </div>
                                        </div>
                                    </div>      
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline datepicker w-100", style="margin-top: 30px;">
                                                    Email:
                                                    <br>
                                                    {{ form.email }}
                                            </div>
                                        </div>
                                    </div>                                        

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline datepicker w-100", style="margin-top: 30px;">
                                                    Type:
                                                    <br>
                                                    {{ form.type }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline datepicker w-100", style="margin-top: 30px;">
                                                    Birth Date:
                                                    <br>
                                                    {{ form.birth_date }}
                                            </div>
                                        </div>
                                     </div>
                                   
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline datepicker w-100", style="margin-top: 30px;">
                                                    Address:
                                                    <br>
                                                    {{ form.address }}
                                            </div>
                                        </div>
                                    </div>
                                     
                                
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline datepicker w-100", style="margin-top: 30px;">
                                                    Upload yout picture...
                                                    <br>
                                                    {{ form.profile_pic }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline datepicker w-100", style="margin-top: 30px;", style="margin-left: 30px;">
                                                    A little bit about yourself...<br>
                                                    {{ form.description }}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="mt-4 pt-2", style="margin-top: 30px;"/>
                                        <input class="btn btn-lg" type="submit" value="Submit" >
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                            

  </body>
  {% endblock %}

</html>
    <!-- <a href=""><button type="submit" class="btn btn-success">Register</button></a>

